.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.form-item {
  font-size: 1rem;
  padding: 1rem;
}
